<!DOCTYPE html>
<html lang="vi" ng-app="Bún Đậu Khay">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1, user-scalable=no">
    <meta name="format-detection" content="telephone=no">

    <meta name="robots" content="index,follow">
    <meta property="og:url" content="https://bundaukhay.xyz/lien-he">
    <meta property="og:type" content="article">
    <meta property="og:site_name" content="Bún Đậu Khay Vietnam">

    <title>Liên hệ - Bún Đậu Khay Vietnam</title>
    <meta name="description" content="">
    <meta property="og:title" content="Liên hệ">
    <meta property="og:description" content="">
    <meta property="og:image" content="https://i.imgur.com/wNjGZpS.jpg">


    <link rel="canonical" href="https://bundaukhay.xyz/lien-he">
    <link rel="alternate" href="https://bundaukhay.xyz/lien-he" hreflang="x-default">
    <link rel="icon" href="/images/favicon/favicon.png" sizes="32x32">
    <link rel="stylesheet" href="//fonts.googleapis.com/css?family=Open+Sans:400,700&subset=vietnamese">
    <link rel="stylesheet" type="text/css" href="/css/vendor.css">
    <link rel="stylesheet" type="text/css" href="/css/app.css">
    <link rel="stylesheet" type="text/css" href="/css/owl.carousel.min.css">
    <!-- Google Tag Manager -->
    <style>
        .async-hide {
            opacity: 0 !important
        }
    </style>

    <!-- <style type="text/css">
       .snow-container{position:fixed;width:100%;max-width:100%;z-index:99999;pointer-events:none;overflow:hidden;top:0;height:100%}
        .snow{display:block;position:absolute;z-index:2;top:0;right:0;bottom:0;left:0;pointer-events:none;-webkit-transform:translate3d(0,-100%,0);transform:translate3d(0,-100%,0);-webkit-animation:snow linear infinite;animation:snow linear infinite}
        .snow.foreground{background-image:url("https://lh3.googleusercontent.com/-fGHOhyjzvjY/WFeGllV44fI/AAAAAAAAA48/ly9n8uvSVMYm4wVmdjdOIExek8ChzjXOACL0B/s400-d-p-rw/falling-snow1.png");-webkit-animation-duration:15s;animation-duration:10s}
        .snow.foreground.layered{-webkit-animation-delay:15s;animation-delay:15s}
        .snow.middleground{background-image:url(https://lh3.googleusercontent.com/-rpVh-hU3Oyo/WFeG5t8Hw_I/AAAAAAAAA5U/c1gop5K-nTgD1PYBcXQYPlrVT05amQjHACL0B/s400-d-p-rw/falling-snow2.png);-webkit-animation-duration:20s;animation-duration:15s}
        .snow.middleground.layered{-webkit-animation-delay:17.5s;animation-delay:17.5s}
        .snow.background{background-image:url(https://dl6rt3mwcjzxg.cloudfront.net/assets/snow/snow-small-1ecd03b1fce08c24e064ff8c0a72c519.png);-webkit-animation-duration:25s;animation-duration:20s}
        .snow.background.layered{-webkit-animation-delay:19.5s;animation-delay:19.5s}
        @-webkit-keyframes snow{0%{-webkit-transform:translate3d(0,-100%,0);transform:translate3d(0,-100%,0)}100%{-webkit-transform:translate3d(5%,100%,0);transform:translate3d(5%,100%,0)}}
        @keyframes  snow{0%{-webkit-transform:translate3d(0,-100%,0);transform:translate3d(0,-100%,0)}100%{-webkit-transform:translate3d(5%,100%,0);transform:translate3d(5%,100%,0)}}
        </style> -->


    <!-- Google Tag Manager -->

    <script>
        (function(w, d, s, l, i) {
            w[l] = w[l] || [];
            w[l].push({
                'gtm.start': new Date().getTime(),
                event: 'gtm.js'
            });
            var f = d.getElementsByTagName(s)[0],
                j = d.createElement(s),
                dl = l != 'dataLayer' ? '&l=' + l : '';
            j.async = true;
            j.src =
                'https://www.googletagmanager.com/gtm.js?id=' + i + dl;
            f.parentNode.insertBefore(j, f);
        })(window, document, 'script', 'dataLayer', 'GTM-TNPGB4S');
    </script>
    <!-- End Google Tag Manager -->

    <!--     <script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
        new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
        j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
        'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
        })(window,document,'script','dataLayer','GTM-KSNF8BD');</script> -->
    <!-- End Google Tag Manager -->

    <style>
        .header>.logo>.logo-img>.img-full-width {
            max-width: 100px;
        }
        .header>.logo>.logo-img {
            -webkit-transform: translateY(3%) translateX(30%);
            transform: translateY(3%) translateX(30%);
            width: 60%;
        }
        .header .list-inline>.menu-item {
            margin-top: 0.5rem;
        }
        .header .assist {
            margin-top: 8px;
        }
        @media only screen and (max-width: 1199px) {
            .header>.logo>.logo-img {
                -webkit-transform: translateY(3%) translateX(0%);
                transform: translateY(3%) translateX(0%);
            }
        }
        .fluxslider .images > div {
            object-fit: cover;
        }
        .para ul {
            margin-left: 25px;
        }
        .swiper-wrapper>a.item {
            width: 25%;
            margin-right: 10px;
        }
        .intro-content.text-center a.btn-blue {
            background-color: #e31c3d;
        }
        .owl-carousel .owl-nav {
            position: absolute;
            left: 0;
            right: 0;
            top: 50%;
        }
        .owl-dots .owl-dot {
            text-indent: 10000px;
            height: 12px;
            width: 12px;
            border-radius: 100%;
            background: #fff;
            -webkit-box-shadow: 0 1px 0 rgba(255, 255, 255, 0.1);
            display: inline-block;
        }
        .owl-dots .owl-dot.active {
            background: #ca1133
        }
        .owl-dots {
            -webkit-box-sizing: content-box;
            box-sizing: content-box;
            padding: 10px 0 !important;
            overflow: hidden;
            position: absolute;
            bottom: 30px;
            left: 50%;
            -webkit-transform: translateX(-50%);
            -ms-transform: translateX(-50%);
            transform: translateX(-50%);
            z-index: 999;
        }
    </style>   <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-90162518-1"></script>
    <script>
        window.dataLayer = window.dataLayer || [];

        function gtag() {
            dataLayer.push(arguments);
        }
        gtag('js', new Date());

        gtag('config', 'UA-90162518-1');
    </script>
    <!-- Facebook Pixel Code -->
    <script>
        ! function(f, b, e, v, n, t, s) {
            if (f.fbq) return;
            n = f.fbq = function() {
                n.callMethod ?
                    n.callMethod.apply(n, arguments) : n.queue.push(arguments)
            };
            if (!f._fbq) f._fbq = n;
            n.push = n;
            n.loaded = !0;
            n.version = '2.0';
            n.queue = [];
            t = b.createElement(e);
            t.async = !0;
            t.src = v;
            s = b.getElementsByTagName(e)[0];
            s.parentNode.insertBefore(t, s)
        }(window, document, 'script',
            'https://connect.facebook.net/en_US/fbevents.js');
        fbq('init', '547812272575003');
        fbq('track', 'PageView');
    </script>
    <noscript>
        <img height="1" width="1" src="https://www.facebook.com/tr?id=547812272575003&ev=PageView
    &noscript=1" />
    </noscript>
    <!-- End Facebook Pixel Code -->
</head>

<body class="page page-contact page-lien-he vi ">


    <!-- Google Tag Manager (noscript) -->
    <noscript>
        <iframe src="https://www.googletagmanager.com/ns.html?id=GTM-TNPGB4S" height="0" width="0" style="display:none;visibility:hidden"></iframe>
    </noscript>
    <!-- <noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-KSNF8BD"
height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript> -->
    <!-- End Google Tag Manager (noscript) -->

    <!-- <div class='snow-container'>
    <div class='snow foreground'></div>
    <div class='snow foreground layered'></div>
    <div class='snow middleground'></div>
    <div class='snow middleground layered'></div>
    <div class='snow background'></div>
    <div class='snow background layered'></div>
</div> -->
    <!-- end snow -->
    <!-- Google Tag Manager (noscript) -->

    <!--  <noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-PRH6QVV"
                      height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript> -->

    <!-- End Google Tag Manager (noscript) -->
    <input type="checkbox" name="btn-toggle" id="btn-toggle" class="hidden">




    <div class="side-menu hidden-lg">
        <nav class="menu text-center">
            <div class="display-flex btn-close">
                <label for="btn-toggle">
                    <i class="fa fa-times"></i>
                </label>
            </div>
            <div class="lang-xs text-white"><a class="lang-item active" href="https://bundaukhay.xyz/lien-he">VN</a>/<a class="lang-item" href="https://bundaukhay.xyz/en/lien-he">ENG</a>
            </div>
            <ul>


                <li class=""><a href="/">Trang chủ</a>
                </li>

                </li>
                <li class="children"><a href="#" class="submenu_toggle">Thực Đơn</a>
                    <ul class="sub-menu">
                        <li class=""><a href="https://bundaukhay.xyz/thuc-don/bun-dau-mam-tom">Bún đậu mắm tôm</a>
                        </li>
                        <li class=""><a href="https://bundaukhay.xyz/thuc-don/bun-nuoc-leo">Bún nước lèo</a>
                        </li>
                        <li class=""><a href="https://bundaukhay.xyz/thuc-don/nuoc-ep-hoa-qua-tuoi">nước ép hoa quả tươi</a>
                        </li>
                        <li class=""><a href="https://bundaukhay.xyz/thuc-don/nuoc-giai-khat">Nước giải khát </a>
                        </li>
                    </ul>
                </li>

                </li>

                </li>

                </li>

                </li>
                <li class=""><a href="https://bundaukhay.xyz/lien-he">Liên hệ</a>
                </li>

                </li>
            </ul>


            <a class="social img-circle" href="http://www.facebook.com/Bún Đậu KhayVietnam"><i class="fa fa-facebook fa-1x"></i></a>
            <a class="social img-circle" href="#"><i class="fa fa-twitter fa-1x"></i></a>
            <a class="social img-circle" href="#"><i class="fa fa-google fa-1x"></i></a>
        </nav>
        <div class="menu-backdrop"></div>
    </div>
    <header class="header text-center flex-box shadow-bottom">
        <div class="menu_toggle col-xs-4">
            <label for="btn-toggle" class="btn-toggle">
                <i class="fa fa-bars fa-2x"></i>
            </label>
        </div>
        <div class="logo col-xs-4 col-lg-2">
            <a href="https://bundaukhay.xyz" class="logo-img">
                <img class="img-full-width" src="/images/LogoJB_New-02.png">
                <!-- <img class="img-full-width" src="/images/logo.png"> -->
            </a>
        </div>
        <nav class="menubar col-sm-8 col-md-10">
            <div class="assist display-flex">
               
                <!--   <a href="#" class="social btn-icon"><i class="fa fa-twitter fa-1x"></i></a>
            <a href="http://www.facebook.com/Bún Đậu KhayVietnam" class="social btn-icon"><i class="fa fa-facebook fa-1x"></i></a>
            <a href="#" class="social btn-icon"><i class="fa fa-google fa-1x"></i></a> -->
  
            </div>

            <ul class="list-inline text-uppercase ">
                <li class=" menu-item itemmega itemmega-5"><a href="/" class="">Trang chủ</a>
                </li>

                </li>
                <li class="children menu-item itemmega itemmega-5"><a href="/thuc-don/bun-dau-mam-tom" class="">Thực Đơn</a>
                    <div class="wrapul menulist">
                        <ul>
                            <li class=" menu-item itemmega itemmega-5">
                                <a href="https://bundaukhay.xyz/thuc-don/bun-dau-mam-tom" class=""><img class="menulist-img img-responsive" alt="" src="/upload/files/menu/mon-moi-mon-ngon.png">
                                    <h5>Bún đậu mắm tôm</h5>
                                </a>
                            </li>
                            <li class=" menu-item itemmega itemmega-5">
                                <a href="https://bundaukhay.xyz/thuc-don/bun-nuoc-leo" class=""><img class="menulist-img img-responsive" alt="" src="/upload/files/menu/ga-gion-vui-ve.png">
                                    <h5>bún nước lèo</h5>
                                </a>
                            </li>
                            <li class=" menu-item itemmega itemmega-5">
                                <a href="https://bundaukhay.xyz/thuc-don/nuoc-ep-hoa-qua-tuoi" class=""><img class="menulist-img img-responsive" alt="" src="/upload/files/menu/ga-sot-cay.png">
                                    <h5>Nước ép hoa quả tươi</h5>
                                </a>
                            </li>
                            <li class=" menu-item itemmega itemmega-5">
                                <a href="https://bundaukhay.xyz/thuc-don/nuoc-giai-khat" class=""><img class="menulist-img img-responsive" alt="" src="/upload/files/menu/mi-y.png">
                                    <h5>Nước giải khát</h5>
                                </a>
                            </li>
                        </ul>
                    </div>
                </li>

                </li>

                </li>
                <li class=" menu-item itemmega itemmega-5"><a href="https://bundaukhay.xyz/lien-he" class="active">Liên hệ</a>
                </li>

                </li>
            </ul>


        </nav>
        <div class="logo-phone col-xs-4 col-lg-2">
            <a href="tel:0832520555" class="logo-phone-img pull-right">
                <img src="/images/home/delivery.png" alt="telephone" class="img-responsive">
            </a>
        </div>
        <div class="clearfix"></div>
    </header>


    <div class="max-width">
        <h1 class="dozen-45 text-uppercase">Liên hệ</h1>
        <div class="row">
            <div class="col-sm-5 contact-info">
                <h3 class="dozen-25">
	THÔNG TIN LIÊN HỆ
</h3>
                <div class="media first">
                    <span class="media-left">
		
		<i aria-hidden="true" class="fa fa-map fa-1x">
			
		</i> 
	</span>
                    <div class="media-body">
                        Lầu 5 – Tòa Nhà SCIC, 16 Trương Định, P.6, Q.3, TP.HCM
                    </div>
                </div>
                <div class="media" style="display: none">
                    <span class="media-left">
		
		<i aria-hidden="true" class="fa fa-phone fa-1x">
			
		</i> 
	</span>
                    <div class="media-body">
                        Hot line: 028.3930.9081
                        <br /> Tổng đài giao hàng nhanh: 1900 1533
                    </div>
                </div>
                <div class="media" style="display: none">
                    <span class="media-left">
		
		<i aria-hidden="true" class="fa fa-mail fa-1x">
			
		</i> 
	</span>
                    <div class="media-body">
                        Email: jbvnfeedback@Bún Đậu Khay.com.vn
                    </div>
                </div>
                <!-- <h3 class="dozen-25">THÔNG TIN LIÊN HỆ</h3>
                <div class="media first">
                    <a class="media-left"><i class="fa fa-map fa-1x" aria-hidden="true"></i></a>
                    <div class="media-body">Lầu 5 – Tòa Nhà SCIC, 16 Trương Định, P.6, Q.3, TP.HCM</div>
                </div>
                <div class="media">
                    <a class="media-left"><i class="fa fa-phone fa-1x" aria-hidden="true"></i></a>
                    <div class="media-body">Hot line: 0949.494.091<br />Tổng đài giao hàng nhanh: 1900 1533</div>
                </div>
                <div class="media">
                    <a class="media-left"><i class="fa fa-mail fa-1x" aria-hidden="true"></i></a>
                    <div class="media-body">Email: jbvnfeedback@Bún Đậu Khay.com.vn</div>
                </div> -->
            </div>
            <div class="col-sm-7 contact-form">
                <h3 class="dozen-25 text-uppercase">GỬI TIN NHẮN CHO CHÚNG TÔI</h3>
                <form id="form-contact" action="https://bundaukhay.xyz/contact" method="POST">

                    <div class="row">
                        <div class="col-sm-6">

                        </div>
                        <div class="col-sm-6">

                        </div>
                    </div>
                    <div class="form-group">

                    </div>
                    <div class="form-group">

                    </div>
                    <button   onclick="dieu_huong()"  class="btn btn-submit">Gửi tin nhắn</button>
                </form>
            </div>
        </div>
    </div>
    <div class="map-container">
        <div id="map-overlay"></div>
        <iframe id="map" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3919.4506560686546!2d106.68898031480079!3d10.776754992321324!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x31752f3a583aa955%3A0xbce0df9783e11269!2zMTYgVHLGsMahbmcgxJDhu4tuaCwgcGjGsOG7nW5nIDYsIFF14bqtbiAzLCBI4buTIENow60gTWluaCwgVmnhu4d0IE5hbQ!5e0!3m2!1svi!2s!4v1473129521590&language=vi"
        width="100%" height="475" frameborder="0" style="border:0" allowfullscreen></iframe>
    </div>




    <div class="modal fade" id="modal-login" ng-controller="CustomerLoginController">
        <div class="modal-dialog">
            <div class="modal-content" ng-show="isTab(1)">
                <div class="modal-body text-center">
                    <form action="https://bundaukhay.xyz/login" method="POST" role="form" data-type="login" autocomplete="off">
                        <input type="hidden" name="_token" value="fgrO3hUkCmaAsTiXfo6ucubDkPiYErzAqIpjyJOv">
                        <div class="form-top">
                            <p>
                                <img class="" src="/images/logo.png" width="120">
                            </p>
                            <h4 class="text-uppercase text-white">Đăng nhập bằng SĐT</h4>
                            <div class="form-group">
                                <input class="form-control" type="email" name="email" value="" placeholder="Email" required="">
                            </div>
                            <div class="form-group">
                                <input class="form-control" type="password" name="password" value="" placeholder="Mật khẩu" required="">
                            </div>
                            <div class="form-group">

                                <p class="text-white">
                                    <label>
                                        <input type="checkbox" class="filled-in">
                                        <span>  Ghi nhớ đăng nhập</span>
                                    </label>
                                </p>

                            </div>
                        </div>
                        <p><a href="" ng-click="setTab(3)">Quên mật khẩu</a>
                        </p>
                        <div class="form-group">
                            <button type="submit" class="btn btn-color btn-lg text-uppercase">Đăng nhập</button>
                        </div>


                        <div class="form-group form-buttons">
                            <p>
                                <a class="btn btn-facebook  btn-full" href="https://bundaukhay.xyz/login/facebook" title="Facebook"><i class="fa fa-facebook" aria-hidden="true"></i>Đăng nhập bằng Facebook</a>
                            </p>
                            <p>
                                <a class="btn btn-google btn-full" href="https://bundaukhay.xyz/login/google" title="Google"><i class="fa fa-google" aria-hidden="true"></i>Đăng nhập bằng Google</a>
                            </p>
                        </div>


                        <div class="form-group switch-text">Bạn chưa có tài khoản? Nhấn <a href="/register">vào đây</a> để đăng ký.</div>
                        <div class="clearfix"></div>
                    </form>
                </div>
            </div>

            <div class="modal-content" ng-show="isTab(2)">
                <div class="modal-body text-center">
                    <form action="https://bundaukhay.xyz/register" method="POST" role="form" data-type="register" autocomplete="off">
                        <input type="hidden" name="_token" value="fgrO3hUkCmaAsTiXfo6ucubDkPiYErzAqIpjyJOv">
                        <div class="form-top">
                            <img class="" src="/images/logo.png" width="120">
                            <h4 class="text-uppercase text-white">Đăng ký</h4>
                            <div class="form-group">
                                <input class="form-control" type="text" name="name" value="" placeholder="Tên" required="">
                            </div>
                            <div class="form-group">
                                <input class="form-control" type="email" name="email" value="" placeholder="Email" required="">
                            </div>
                            <div class="form-group">
                                <input class="form-control" type="password" name="password" value="" placeholder="Mật khẩu" required="">
                            </div>
                            <div class="form-group">
                                <input class="form-control" type="password" name="confirm_password" value="" placeholder="Xác nhận mật khẩu" required="">
                            </div>
                            <div class="form-group text-white">
                                (*) Thông tin bắt buộc </div>
                        </div>
                        <p>
                            <label>
                                <input type="checkbox" class="filled-in">
                                <span> Đồng ý với   <a href="#">Chính sách & Quy định chung</a></span>
                            </label>
                        </p>
                        <p>
                            <label>
                                <input type="checkbox" class="filled-in">
                                <span>  Nhận chương trình khuyến mãi qua email</span>
                            </label>
                        </p>

                        <div class="form-group">
                            <button type="submit" class="btn btn-color text-uppercase">Đăng ký</button>
                        </div>
                        <div class="form-group form-buttons">
                            <p>
                                <a class="btn btn-facebook  btn-full" href="https://bundaukhay.xyz/login/facebook" title="Facebook"><i class="fa fa-facebook" aria-hidden="true"></i>Đăng ký bằng Facebook</a>
                            </p>
                            <p>
                                <a class="btn btn-google btn-full" href="https://bundaukhay.xyz/login/google" title="Google"><i class="fa fa-google" aria-hidden="true"></i>Đăng ký bằng Google</a>
                            </p>
                        </div>



                        <div class="form-group switch-text">Bạn đã có tài khoản? Nhấn <a ng-click="setTab(1)">vào đây</a> để đăng nhập.</div>
                        <div class="clearfix"></div>
                    </form>
                </div>
            </div>


            <div class="modal-content" ng-show="isTab(3)">
                <div class="modal-body text-center">
                    <form action="https://bundaukhay.xyz/password/email" method="POST" role="form" data-type="forgot" autocomplete="off">
                        <input type="hidden" name="_token" value="fgrO3hUkCmaAsTiXfo6ucubDkPiYErzAqIpjyJOv">
                        <div class="form-top">
                            <img class="" src="/images/logo.png" width="120">
                            <h4 class="text-uppercase text-white">Quên mật khẩu</h4>
                            <div class="form-group">
                                <input class="form-control" type="email" name="email" value="" placeholder="Email" required="">
                            </div>
                        </div>
                        <div class="form-group">
                            <button type="submit" class="btn btn-color text-uppercase">Gửi email</button>
                        </div>
                        <div class="form-group switch-text">Bạn đã có tài khoản? Nhấn <a ng-click="setTab(1)">vào đây</a> để đăng nhập.</div>
                        <div class="clearfix"></div>
                    </form>
                </div>
            </div>
            <div class="modal-content" ng-show="isTab(4)">
                <div class="modal-body text-center">
                    <form action="/api/area" method="POST" role="form" data-type="area" autocomplete="off">
                        <input type="hidden" name="_token" value="fgrO3hUkCmaAsTiXfo6ucubDkPiYErzAqIpjyJOv">
                        <div class="form-top">
                            <img class="" src="/images/logo.png" width="120">
                            <h4 class="text-uppercase text-white">Vui lòng chọn tỉnh thành</h4>
                            <div class="form-group">
                                <select class="form-control custom-select-red" name="city" ng-model="city" ng-options="city.id as getTranslate(city.title) for city in cities">
                                    <option value="" disabled="">Chọn tỉnh thành</option>
                                </select>
                            </div>
                            <div class="form-group">
                                <select class="form-control custom-select-red" name="district" ng-model="district" ng-options="district.id as getTranslate(district.title) for district in districts | filter:{city_id: city}:true">
                                    <option value="" disabled="">Chọn quận huyện</option>
                                </select>
                            </div>
                        </div>
                        <div class="input-group">
                            <input class="form-control text-center" value="Nơi bạn vừa chọn giá trị tối thiểu là" aria-describedby="basic-addon2">
                            <span class="input-group-addon">{{ getMinPrice() }}</span>
                        </div>
                        <div class="form-group">
                            <button type="submit" class="btn btn-color text-uppercase">Xác nhận</button>
                        </div>
                        <div class="form-group switch-text">*Chúng tôi chưa phục vụ giao hàng tận nơi tại những khu vực nằm ngoài danh sách trên, mong quý khách thông cảm</div>
                        <div class="clearfix"></div>
                    </form>
                </div>
            </div>
            <script>
                function dieu_huong(){
                    location.assign("https://www.facebook.com/messages/t/106726828269000");
                }
            </script>

            <button type="button" class="btn-close" data-dismiss="modal" aria-label="Close">×</button>
        </div>
    </div>

    <script type="text/javascript" src="/js/plugins/jquery-3.1.0.min.js"></script>
    <script type="text/javascript" src="/js/jquery-sakura.min.js"></script>
    <script type="text/javascript" src="/js/plugins.js"></script>
    <script type="text/javascript" src="/js/ng.js"></script>
    <script type="text/javascript" src="/js/owl.carousel.min.js"></script>
    <script type="text/javascript" src="/js/app.js"></script>


</body>

</html>